#msgform, #search, #cthread, #company {
	text-align: center;
	float: left;
	margin-left: 20px;
}

#forum, #thread, #post, #adminform, #salesmenu, #salesform, #addproduct {
	text-align: center;
	float: left;
	margin-left: 60px;
}

#comlist {
	float: left;
}

#clist {
	clear: both;
	text-align: center;
}

#logout {
	height: 40px;
	width: 200px;
	float: right;
	margin-right: 20px;
}

#menu {
	float: right;
	text-align: center;
	clear: right;
	margin-top: 20px;
	margin-right: 20px;
}

/*Style the input fields*/
input, textarea {
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	cursor: pointer;
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

/*Change input field when user hovers*/
input:hover, input:focus, textarea:hover, textarea:hover {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

/*Style submit button*/
#submit {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	cursor: pointer;
	font-size: 14px;
	color: #FFFFFF;
	-webkit-border-radius: 5px;
}