/*Style the input fields*/
input {
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	cursor: pointer;
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

/*Change input field when user hovers*/
input:hover, input:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

#logout {
	height: 40px;
	width: 200px;
	float: right;
	margin-right: 20px;
}

#menu {
	float: right;
	text-align: center;
	clear: right;
	margin-top: 20px;
	margin-right: 20px;
}

#messenger {
	margin: auto;
	text-align: center;
	width: 400px;
	float: left;
	margin-left: 60px;
}